.ol-modal-notif {
    --height: 3.5rem;
    --border-radius: 5px;
    --width: calc(100% - 10rem);
    --background: var(--ion-text-color);
    position: absolute;
    top: 85%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--ion-text-color-contrast);
}

.ol-modal-notif-grid {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.ol-modal-notif-grid-item {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--ion-text-color-contrast);
    --background: transparent;
}

.ol-modal-item-slotted {
    margin-inline-start: 5px;
    margin-inline-end: 5px;
}