
.ol-custom-button {
	text-align: center;
	position: relative;
	border-radius: 1.1rem;
	box-sizing: border-box;
	overflow: hidden;
	color: var(--ol-text-colour);
	padding: 0.2rem;
}

.ol-custom-button::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 270%;
	height: 100%;
}

.ol-custom-button.dark::before {
	background: linear-gradient(90deg, var(--ol-colour-red) 0%, var(--ol-colour-yellow) 40%, var(--ol-colour-red) 55%, var(--ol-colour-yellow) 85%, var(--ol-colour-yellow) 100%);
}

.ol-custom-button.light::before {
	background: linear-gradient(90deg, var(--ol-colour-light-red) 0%, var(--ol-colour-light-yellow) 40%, var(--ol-colour-light-red) 55%, var(--ol-colour-light-yellow) 85%, var(--ol-colour-light-yellow) 100%);
}

.ol-custom-button span {
	position: relative;
	height: 100%;
	font-size: 1rem;
	background: var(--ol-colour-tertiary-dark);
	border-radius: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding-bottom: 1px; /* why?? */
	margin-top: 0.5px; /* why?? */
}

.ol-custom-button:active {
	opacity: 0.8;
}

.ol-custom-button.ol-button-hover-animate:not(.disabled):hover::before {
	animation: hover-animate 2.15s linear infinite;
}

@keyframes hover-animate {
	to {
		transform: translateX(-55%);
	}
}