.ol-help-tooltip-icon {
	background: var(--ol-text-colour-contrast);
	border-radius: 50%;
}

.ol-help-tooltip-text {
    visibility: hidden;
	width: 25rem;
	background-color: var(--ol-text-colour-contrast);
	color: var(--ol-text-colour);
	text-align: center;
	border-radius: 0.6rem;
	padding: 0.6rem 0.6rem;
	position: absolute;
	z-index: 100;
	bottom: 40%;
	left: 24.5%;
	margin-left: -12rem;
}

.ol-help-tooltip-text::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -0.35rem;
	border-width: 0.35rem;
	border-style: solid;
	border-color: var(--ol-text-colour-contrast) transparent transparent transparent;
}

.ol-help-tooltip-container:hover .ol-help-tooltip-text {
	visibility: visible;
}
