.ol-signin-slide-container {
    position: relative;
	width: 100%;
	height: 100%; 
}

.ol-slide-grid {
    width: 100%;
	height: 100%;
}

.ol-slide-grid-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ol-skip-login-text, .ol-skip-login-text a {
    padding-top: 1rem;
	font-family: 'Source Sans Pro', sans-serif;
	color: var(--ion-text-color);
	text-decoration: none;
	text-align: center;
}

.ol-what-for-text .ol-what-tooltip {
	visibility: hidden;
	width: 400px;
	background-color: black;
	color: var(--ion-text-color);
	text-align: center;
	border-radius: 6px;
	padding: 8px 8px;
	position: absolute;
	z-index: 2;
	bottom: 60%;
	left: 50%;
	margin-left: -200px;
}

.ol-what-for-text .ol-what-tooltip::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--ion-text-color-contrast) transparent transparent transparent;
}

.ol-what-for-text:hover .ol-what-tooltip {
	visibility: visible;
}

.ol-error-slide-container {
    position: relative;
	width: 100%;
	height: 100%;
}

.ol-error-field {
	display: flex;
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
}

.ol-error-input {
	background-image: none;
	border: 0;
	color: inherit;
	font: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
}

.ol-error-not-found {
	padding-left: 0.7rem;
	padding-right: 0.7rem;
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	padding-top: 1rem;
}

.ol-error-path-input {
	font-family: 'Source Sans Pro', sans-serif;
	width: 100%;
	border-radius: 0.3rem;
	padding: 1rem;
	background-color: var(--dark-highlight);
}

.ol-error-path-submit {
	width: 100%;
	height: 2.5rem;
	border-radius: 0.3rem;
	background-color: var(--accent-colour);
}