.ol-startup-page {
	background: var(--ol-colour-primary-dark);
	overflow: hidden;
	user-select: none;
}

.ol-startup-centre-content {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.ol-startup-spinner {
	transform: scale(1.8);
}

.ol-startup-welcome-text {
	color: var(--ol-text-colour);
	font-weight: 200;
	font-style: italic;
	font-size: 1.7rem;
	padding-top: 2rem;
}

.ol-startup-bug-report {
	width: 13rem;
	display: grid;
	grid-template-columns: 0.3fr 1.2fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas:
    "logo text";
	align-items: center;
	position: absolute;
	left: 50%;
	bottom: 4.5rem;
	transform: translateX(-50%);
}

.ol-startup-bug-report-icon {
	grid-area: logo; 
	filter: var(--ol-white-filter);
}

.ol-startup-bug-report-text {
	color: var(--ol-text-colour);
	font-style: normal;
	font-size: 1rem;
	grid-area: text; 
}

.ol-logo-info {
	color: var(--ol-text-colour);
	font-weight: 200;
	font-size: 0.8rem;
	position: fixed;
	bottom: 0.3rem;
	left: 0.8rem;
	opacity: 0.2;
}