:root {
	/** custom colours **/
	--ol-text-colour: #ffffff;
	--ol-text-colour-contrast: #000000;
	--ol-colour-primary-dark: #1a1a1a;
	--ol-colour-secondary-dark: #202020;
	--ol-colour-tertiary-dark: #252525;
	--ol-colour-not-selected: #777777;
	--ol-colour-bad: #ff4e50;
	--ol-colour-ok: #f9d423;
	--ol-colour-good: #50ff4e;
	--ol-colour-red: #ff4e50;
	--ol-colour-yellow: #f9d423;
	--ol-colour-light-red: #ff8183;
	--ol-colour-light-yellow: #ffff56;
	/* filter for making any icons white */
	--ol-white-filter: invert(100%) sepia(0%) saturate(4%) hue-rotate(152deg) brightness(101%) contrast(102%);
	/* filter for making any icons #777777 gray */
	--ol-gray-filter: invert(47%) sepia(0%) saturate(1858%) hue-rotate(150deg) brightness(97%) contrast(83%);
	/* dark gradient */
	--ol-gradient-dark: linear-gradient(90deg, var(--ol-colour-red), var(--ol-colour-yellow));
	/* light gradient */
	--ol-gradient-light: linear-gradient(90deg, var(--ol-colour-light-red), var(--ol-colour-light-yellow));
}